@model IEnumerable<YazariKim.Model.Entity.Season>

@{
    ViewBag.Title = "Dönemler";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Liste</h2>

<p>
	<a href="Seasons/Create"><i class="fa fa-plus-square fa-3x"></i></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SeasonName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateUserID)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SeasonName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateUserID)
        </td>*@
		<td>
			<a href="Seasons/Edit/@item.ID"><i class="fa fa-edit fa-2x"></i></a>
			<a href="Seasons/Details/@item.ID"><i class="fa fa-info-circle fa-2x"></i></a>
			<a href="Seasons/Delete/@item.ID"><i class="fa fa-trash fa-2x"></i></a>
		</td>
    </tr>
}

</table>
